# <span style="color:blue"> MBA em Ciência de Dados</span>
# <span style="color:blue">Programação para Ciência de Dados</span>

## <span style="color:blue">Avaliação Final</span>
**Material Produzido por Luis Gustavo Nonato**<br>
**Cemeai - ICMC/USP São Carlos**

A avaliação vale 10 pontos. As questões de 1 a 4, caso respondidas da forma correta, totalizam 10 pontos. A última questão é um bônus que, se respondida corretamente, pode ajudar na nota final, ou seja, caso tenha respondido incorretamente uma das questões de 1 a 4, mas tenha acertado a questão bônus, ainda poderá atingir 10 pontos.

<font color='red'>**ATENÇÃO:** Quando terminar de exame, você deve fazer um "upload" do notebook no _moodle_</font>.

Para responder as questões abaixo será necessário fazer uso do arquivo <font style="font-family: monaco">covid.csv"</font> disponível para download no sistema _Moodle_. As colunas do conjunto de dados fornece informações sobre:
- **'Province/State'**: estado ou província onde os casos de COVID19 foram registrados
- **'Country/Region'**: país onde os casos de COVID19 foram registrados
- **'Lat'** e **'Long'**: latitude e longitude de referência
- **'Date'**: data dos registros
- **'Value'**: quantidade de casos registrados

In [0]:
import numpy as np
import pandas as pd

### Questão 1 (2 pontos)
Considerando os dados contidos no arquivo <font style="font-family: monaco">covid.csv"</font>:

#### a) (0.5 pontos)
Carregue o arquivo "covid.csv" e armazena em um pandas DataFrame.

In [35]:
#importando o dataset
from google.colab import files
up = files.upload()

Saving covid.csv to covid (1).csv

In [36]:
#lendo o dataset como csv e nomeando como 'data'
data = pd.read_csv('covid.csv')
data.head()

  Province/State Country/Region  ...        Date                         Value
0     #adm1+name  #country+name  ...       #date  #affected+infected+value+num
1            NaN    afghanistan  ...  2020-03-18                            22
2            NaN    afghanistan  ...  2020-03-17                            22
3            NaN    afghanistan  ...  2020-03-16                            21
4            NaN    Afghanistan  ...  2020-03-15                            16

[5 rows x 6 columns]

#### b) (0.5 pontos)
Elimine a primeira linha do DataFrame, a qual contém a informação:
```python
#adm1+name,#country+name,#geo+lat,#geo+lon,#date,#affected+infected+value+num
```

In [37]:
#excluindo a primeira linha do dataset
data = data.drop(0)
data.head()

  Province/State Country/Region Lat Long        Date Value
1            NaN    afghanistan  33   65  2020-03-18    22
2            NaN    afghanistan  33   65  2020-03-17    22
3            NaN    afghanistan  33   65  2020-03-16    21
4            NaN    Afghanistan  33   65  2020-03-15    16
5            NaN    afghanistan  33   65  2020-03-14    11

#### c) (1 ponto)
Verifique qual o tipo de dado da coluna "Value" e converta o tipo para inteiro (<font color='blue'>int</font>).

In [38]:
#verificando o tipo de dados de cada coluna do dataset - antes da mudança
data.dtypes

Province/State    object
Country/Region    object
Lat               object
Long              object
Date              object
Value             object
dtype: object

In [39]:
#verificando o tipo de dados da coluna 'Value' - antes da mudança
data['Value'].dtypes

dtype('O')

In [0]:
#alterando o tipo de dado da coluna 'Value' para int
data['Value'] = data['Value'].astype('int')

In [41]:
#verificando o tipo de dados de cada coluna do dataset - depois da mudança
data.dtypes

Province/State    object
Country/Region    object
Lat               object
Long              object
Date              object
Value              int64
dtype: object

In [43]:
#verificando o tipo de dados da coluna 'Value' - depois da mudança
data['Value'].dtypes

dtype('int64')

### Questão 2 (2 pontos)
Devido a um erro de armazenamento de inteiros, alguns países apresentam mais de 8 bilhões de casos de COVID19 (valor da coluna "Value" maior ou igual a 8.000.000.000) 

Elimine as linhas onde o número de casos é maior ou igual a 8 bilhões.

In [44]:
#verificando o maior valor armazenado na coluna 'Value' - antes da mudança
data['Value'].max()

8000009822

In [0]:
#selecionando apenas as linhas que possuem valor menor do que 8bi
data = data.query('Value < 8000000000')

In [46]:
#verificando o maior valor armazenado na coluna 'Value' - depois da mudança
data['Value'].max()

67800

### Questão 3 (3 pontos)
O nome de alguns países estão com a primeira letra em maíuscula e outros não.

Transforme os nomes dos países na coluna "Country/Region" para que contenham apenas letras **minúsculas**.

In [47]:
#checando os tipos de valores armazenados na coluna 'Country/Region' - antes da mudança
print(data['Country/Region'])

1        afghanistan
2        afghanistan
3        afghanistan
4        Afghanistan
5        afghanistan
            ...
26330         zambia
26331         Zambia
26332         Zambia
26333         zambia
26334         zambia
Name: Country/Region, Length: 26315, dtype: object

In [0]:
#transformando os valores da coluna para que todos contenham apenas letras minúsculas
data['Country/Region'] = data['Country/Region'].apply(lambda x: x.lower())

In [49]:
#checando os tipos de valores armazenados na coluna 'Country/Region' - depois da mudança
print(data['Country/Region'])

1        afghanistan
2        afghanistan
3        afghanistan
4        afghanistan
5        afghanistan
            ...
26330         zambia
26331         zambia
26332         zambia
26333         zambia
26334         zambia
Name: Country/Region, Length: 26315, dtype: object

### Questão 4 (3 pontos)
Quais são os três países com a maior quantidade de infectados?

Lembre de considerar apenas o maior valor de cada país.

**DICA:** groupby + max

In [50]:
#armazenando o maior valor da coluna 'Value' de cada país na variável 'total_infectados'
total_infectados = data.groupby('Country/Region')['Value'].max()

#exibindo os três países com maior número de infectados
print(total_infectados.sort_values()[-3:])

Country/Region
iran     17361
italy    35713
china    67800
Name: Value, dtype: int64

### Questão Bonus (2 pontos)
Considerando que a taxa de crescimento diária do vírus é de 1.31, quantos dias até o Brasil atingir 10000 casos?

OBS: A fórmula para a quantidade de pessoas infectada no dia $n$ a partir da quantidade atual é:

$ quantidade\_atual * (1+1.31^{n})$ (dentro do parênteses: 1 mais 1.31 elevado a $n$)

In [51]:
data.head()

  Province/State Country/Region Lat Long        Date  Value
1            NaN    afghanistan  33   65  2020-03-18     22
2            NaN    afghanistan  33   65  2020-03-17     22
3            NaN    afghanistan  33   65  2020-03-16     21
4            NaN    afghanistan  33   65  2020-03-15     16
5            NaN    afghanistan  33   65  2020-03-14     11

In [56]:
#renomeando as colunas do DataFrame para melhor manipulá-las
data.columns = ['Province', 'Country', 'Lat', 'Long', 'Date', 'Value']
data.head()

  Province      Country Lat Long        Date  Value
1      NaN  afghanistan  33   65  2020-03-18     22
2      NaN  afghanistan  33   65  2020-03-17     22
3      NaN  afghanistan  33   65  2020-03-16     21
4      NaN  afghanistan  33   65  2020-03-15     16
5      NaN  afghanistan  33   65  2020-03-14     11

In [57]:
#criando um novo DataFrame para armazenar apenas os dados do Brasil
brazil = data.query('Country == "brazil"')
brazil.head()

     Province Country      Lat      Long        Date  Value
1540      NaN  brazil  -14.235  -51.9253  2020-03-18    372
1541      NaN  brazil  -14.235  -51.9253  2020-03-17    321
1542      NaN  brazil  -14.235  -51.9253  2020-03-16    200
1543      NaN  brazil  -14.235  -51.9253  2020-03-15    162
1544      NaN  brazil  -14.235  -51.9253  2020-03-14    151

In [161]:
#Criando as variáveis e o loop para retornar a quantidade de dias em que o Brasil terá 1000 infectados a uma taxa de crescimento de 1.31/dia
max_value = brazil['Value'].max()
crescimento = 0.0131
dia = 0

while(max_value <= 1000):
  max_value = max_value + (max_value * crescimento)
  dia = dia + 1

print('A previsão é de que em {} dias, o Brasil atingirá 1000 infectados.'.format(dia))

A previsão é de que em 76 dias, o Brasil atingirá 1000 infectados.